/***
Global Styles for infloorheat.ca
==============================
Author: David Gaskin
July, 2016
***/

/**
TODO: Look into usage statistics for IE7 and below -- if necesary, created styles for IE7
**/

/* Cursive font for Headers*/
@import 'https://fonts.googleapis.com/css?family=Exo+2|Playball|Italianno|Dynalight';

@font-face {
	font-family: 'Aramisi';
	src: url('../fonts/aramisi.ttf');
	font-weight: normal;
	font-style: normal;
}

/*
Color Palette
==============
	Base Grey: 				#f1f1f1
	Light Grey:				#e7e7e7
	Dark Grey:				#545456
	Slate: 					#343436
	Silver: 				#5c5d5f
	----------
	Accent Colors:
	Tangerine Orange:       #f5911f
																*/

/* Simple Reset */
* {
	margin: 0;	padding: 0;
	font-size: 100%;
}

/* HTML5 display reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
	display: block;
}


/* Global Styles */
body {
	background-color: #f1f1f1;
	font-family: 'Aramisi', cursive;
}

h1 { font-size: 4em; }
h2 { font-size: 2.8em; }

/* Nav */
nav { font-size: 2.25em; }
nav ul > li.dropdown ul > li {
	font-size: 2.25em;
}
/* enable dropdown on hover */
.dropdown:hover > .dropdown-menu,
.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}

body > footer p { /* targets only first-level footer */
	font-size: inherit;
}
p, footer { font-family: sans-serif; }
p { font-size: 1.4em; line-height: 1.65; }

/* Footer */
body > footer {
	background-color: #343436;
	color: #838385;
	font-size: 1.25em;
	height: 146px;
}
#footer ul {
	text-align: center;
	width: 100%;
	margin-top: 48px;
}
#footer ul > li {
	float: none;
	display: inline-block;
	/*border: 2px solid #ddd;*/
	/*height: 100%;*/
	line-height: 146px;
	*display: inline; /* for <=IE7 */
}
#footer ul > li:hover { background: none;}
body > footer p {
	line-height: 146px;
	margin-bottom: 0;
}
#footer a { color: #838385; transition: color 250ms; }
#footer a:hover {
	color: #ddd;
	background: none;
}
