/***
Main Styles for default.asp
==============================
Author: David Gaskin
July, 2016
***/

/*** Import Fonts ***/
@import 'https://fonts.googleapis.com/css?family=Italianno';

#main-header {
	height: 315px;
	background: #f1f1f1;
	background: -moz-linear-gradient(top,  #dddddd 0%, #ffffff 52%, #e5e5e5 100%);
	background: -webkit-linear-gradient(top,  #dddddd 0%,#ffffff 52%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #dddddd 0%,#ffffff 52%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#e5e5e5',GradientType=0 );
	background-image: url(../images/cirsLogo.png), linear-gradient(to bottom,  #dddddd 0%,#ffffff 52%,#e5e5e5 100%);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

#nav-primary > a { top: -292px; right: 15px; }
nav {
	/* use main navigation bg here */
	background: transparent url(../images/bg_nav_main.png) no-repeat;
	border-top: 3px solid white;
	width: auto; left: 0;
	/* reverse box shadow on top */
	box-shadow: 0px -18px 25px -15px rgba(0, 0, 0, 0.5);
	margin-bottom: -58px;
	/* to account for extra bg area */
}
nav > ul.navbar-nav {	top: 8px; }
nav > ul.navbar-nav > li { left: 0; }

/* make 'Call Us' button originate from the right */
nav > a.call-us {	transform-origin: 100%; }
nav > a.call-us:hover { transform-origin: 100%; }
nav .navbar-header { display: none; }

/** Testimonials **/
#testimonial { margin-top: 30px; margin-bottom: 60px; }
#testimonial h3 {
	margin: 0; padding: 0 0 15px;
	display: none;
}
#testimonial .carousel {
	padding: 0 90px; margin: 0 -15px;
}
#testimonial article.item {
	margin: 30px 0;
}
#testimonial blockquote {
	border-left: none; /* remove default border */
	position: relative;
	margin: 0;
	font-family: 'Italianno', 'Aramisi', 'Times New Roman', serif;
}
#testimonial blockquote p {
	text-indent: 75px;
	font-family: 'Italianno', 'Aramisi', 'Times New Roman', serif;
	font-size: 2.25em; line-height: 1.25;
}
blockquote footer {
	font-size: 1.5em;
	text-indent: 60px;
}
blockquote footer:before {
	color: #f5911f;
	font-weight: bold;
}
article#testimonial blockquote:before,
article#testimonial blockquote:after {
	color: #f5911f;
	font-size: 8em;
	position: absolute;
	line-height: 1;
}
article#testimonial blockquote:before{
	content: open-quote;
	top: 0;
}
article#testimonial blockquote:after {
	content: close-quote;
	bottom: 15px; right: 45px;
	line-height: 0.25;
}
#testimonial a.carousel-control {
	background: #fff;
	background-color: rgba(255, 255, 255, 0.5);
	width: 10%;
	color: #c8c8c8;
}
#testimonial a.carousel-control:hover {
	color: #8c8c8c;
}
/* hide carousel-indicators by default - show with JS */
#testimonial ol.carousel-indicators {
	position: relative;
	top: -21px;
	z-index: 100;
	display: none;
	left: 0; margin: 0;
	width: 100%;
}
#testimonial ol.carousel-indicators li,
#testimonial ol.carousel-indicators li.active {
	height: 18px; width: 18px;
	border: 2px solid #c8c8c8;
	margin: 5px;
}
#testimonial ol.carousel-indicators li.active { background: #8c8c8c; }

/** Medium Screens **/
@media (min-width: 992px) and (max-width: 1199px) {
	nav {
		width: 970px;
		background-size: 970px 96px;
	}
}

/** Small screens **/
@media (min-width: 768px) and (max-width: 991px){
	nav {
		width: 750px;
		background-size: 750px 84px;
	}
	nav > ul.navbar-nav {
		top: 4px;
	}
}

/** XS Screens and below **/
@media (max-width: 767px) {
	header#main-header {
		height: 185px;
		box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.5);
		position: relative;
	}
	nav { height: 0; }
	nav, nav.full-width {
		background-image: none;
		background-color: transparent;
		border: none;
		box-shadow: none;
	}
	/* position the call us button */
	#nav-primary > a.call-us { top: -177px; }

	/* hamburger icon */
	nav button.navbar-toggle {
		position: absolute;
		top: -60px; right: 0;
	}

	/* dropdown menu */
	#navbar { top: 0; }

	.jumbotron[name="default"] { height: 564px; padding: 30px 0 0; }
	.jumbotron[name="default"] .panel {
		position: relative;
		top: 55px;
	}

	#testimonial .carousel {
		padding: 0 30px;
	}
	#testimonial blockquote p {
		text-indent: 0;
	}

}

@media (max-width: 570px) {
	header#main-header { background-size: 114%; }
}
