/*** Media Query Styles ***/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	body > footer { padding-top: 30px; }
	#footer ul > li {
		display: inline-block;
		line-height: 146px;
	}
	#footer .container div.row:last-child p {
		margin: 0 0 20px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
